.List-Song-title {
    list-style: none;
    color: black;
    font-size: 18px;
    width: 250px;
    padding: 10px;
    text-align: center;
    transition: 0.2s all ease-in-out;
}

/* .List-Song-title:hover {
    color: white;
} */


.SongListDiv {
    border: 2px solid black;
    padding: 50px;
    height: 550px;
    width: 340px;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
}

.SingleSongListDiv {
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

/* .SingleSongListDiv:hover {
    background-color: black;
    color: white;
} */


.Button {
    padding: 10px 40%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s all ease-in-out;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    margin-top: 30px;
}

.Button:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.MusicListTitle {
    color: black;
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -60px;
    margin-bottom: -50px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 30px;
}

.ULBASE {
    padding: 10px;
    margin-top: -40px;
    max-height: 320px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ULBASE::-webkit-scrollbar {
    display: none;
}

.HeartIcon {
    transition: 0.2s all ease-in-out;
}

.HeartIcon:hover {
    font-size: 20px;
}

.SongListHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.Image {
    border-radius: 50%;
    height: 35px;
    object-fit: cover;
    width: 35px;
    padding: 10px;
}

.FavSongsButton {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s all ease-in-out;
    background-color: transparent;
    border: 2px solid black;
    position: relative;
    top: -5px;
    right: -20px;
    color: black;
}

.FavSongsButton:hover {
    background-color: black;
    color: white;
    border-color: black;
}